@model Mobi__Shop.Models.AssigningUserToRoleByUserName

@{
    ViewData["Title"] = "AssigningRoleToUser";
}
<div class="RegContainer">
    <h1>Assigning Role To User</h1>

    <hr />
    <div class="InputsParent">
        <div class="">
            <form asp-action="AssigningRoleToUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(function () {
        $(".InputsParent").slideDown(2000);
    })
</script>
}
